/**************************************
TITLE SCREEN STYLES
**************************************/
.container {
    position: absolute;
    top: -200px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 20px;

    max-width: 511px;
    height: 359px;
}

.container > div {
    margin: 20px 0;
    text-align: center;
}

.title > img {
    width: 100%;
}

.start-button {
    background: none;
    border: none;
    background-image: url('./assets/UI/startscreen_start_unselected.png');
    background-size: contain;
    background-color: #191970;
    border-radius: 5px;

    width: 155px;
    height: 65px;

    transition: 0.1s ease;

    text-transform: uppercase;
    font-family: "Fairfax";
    font-size: 1.7em;
    letter-spacing: 1px;
}

.start-button:hover {
    background: none;
    border: none;
    
    background-image: url('./assets/UI/startscreen_start_selected.png');
    background-size: contain;

    transition: 0.1s ease;
    color: rgba(255, 255, 255, 0.5);
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;

    width: 100%;

    background: rgba(0, 0, 0, 1);
    text-align: center;
}

.notification > p {
    margin: 0;
    padding: 0;

    font-size: 0.8em;
    letter-spacing: 0.4px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-image: url("./assets/UI/startscreen_bg.png");
    background-size: cover;
}